@model sgate.Models.produto

@{
    ViewBag.Title = "Produtos";
}

<h2>Detalhe do Produto</h2>

<fieldset>
    <legend>Detalhe do Produto</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.idproduto)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.idproduto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataexpiracao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataexpiracao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.valorproduto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valorproduto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipoproduto.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipoproduto.tipo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.idproduto }) |
    @Html.ActionLink("Voltar", "Index")
</p>
