@model IEnumerable<sgate.Models.produto>

@{
    ViewBag.Title = "Produtos";
}

<h2>Lista de Produtos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idproduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataexpiracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorproduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoproduto.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idproduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataexpiracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorproduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoproduto.tipo)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.idproduto }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.idproduto }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.idproduto })
        </td>
    </tr>
}

</table>
