@model sgate.Models.cliente

@{
    ViewBag.Title = "Cliente";
}

<h2>Detalhe do Cliente</h2>

<fieldset>
    <legend>Detalhe do Cliente</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.idcliente)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.idcliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cpf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cpf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.logradouro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logradouro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bairro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bairro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.uf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.idcliente }) |
    @Html.ActionLink("Voltar", "Index")
</p>
