@model sgate.Models.pacote

@{
    ViewBag.Title = "Pacotes";
}

<h2>Exclusão do Pacote</h2>

<h3>Deseja excluir este pacote?</h3>
<fieldset>
    <legend>Exclusão do Pacote</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.idpacote)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.idpacote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pacote1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pacote1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
