@model sgate.Models.pacote

@{
    ViewBag.Title = "Pacotes";
}

<h2>Detalhe do Pacote</h2>

<fieldset>
    <legend>Detalhe do Pacote</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.idpacote)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.idpacote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pacote1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pacote1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.idpacote }) |
    @Html.ActionLink("Voltar", "Index")
</p>
