@model sgate.Models.pacote

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>pacote</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idpacote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idpacote)
            @Html.ValidationMessageFor(model => model.idpacote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pacote1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pacote1)
            @Html.ValidationMessageFor(model => model.pacote1)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
