@model IEnumerable<sgate.Models.pacote>

@{
    ViewBag.Title = "Pacote";
}

<h2>Lista de Pacotes</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idpacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idpacote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.idpacote }) |
            @Html.ActionLink("Detalhe", "Details", new { id = item.idpacote }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.idpacote })
        </td>
    </tr>
}

</table>
