@model IEnumerable<sgate.Models.pacote>

@{
    ViewBag.Title = "Pacote de Produtos";
}

<h2>Pacote de Produtos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idpacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pacote1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idpacote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pacote1)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalhar", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
