@model sgate.Models.tipoproduto

@{
    ViewBag.Title = "Tipos de Produtos";
}

<h2>Exclusão dos Tipos de Produtos</h2>

<h3>Deseja excluir este tipo de produto?</h3>
<fieldset>
    <legend>Tipos de Produtos</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.idtipo)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.idtipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
