@model sgate.Models.tipoproduto

@{
    ViewBag.Title = "Tipo de Produto";
}

<h2>Exclusão do Tipo de Produto</h2>

<h3>Deseja excluir este tipo de produto?</h3>
<fieldset>
    <legend>tipoproduto</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.idtipo)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.idtipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
