@model sgate.Models.tipoproduto

@{
    ViewBag.Title = "Tipos de Produtos";
}

<h2>Detalhes dos Tipos de Produtos</h2>

<fieldset>
    <legend>Tipos de Produtos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idtipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idtipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.idtipo }) |
    @Html.ActionLink("Voltar", "Index")
</p>
