@model IEnumerable<sgate.Models.tipoproduto>

@{
    ViewBag.Title = "Tipos de Produtos";
}

<h2>Lista dos Tipos de Produtos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idtipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idtipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.idtipo }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.idtipo })
        </td>
    </tr>
}

</table>
